# --- Geospatial & Data Engine ---
numpy
rasterio
geopandas
shapely
pyproj
earthengine-api
numexpr
rio-tiler==7.0.0

# --- Machine Learning ---
scikit-learn
xgboost

# --- Web & API Stack ---
fastapi
uvicorn
requests
httpx
pydantic
python-multipart
celery[redis]==5.3.6
redis==5.0.1

# --- Automation & Development ---
maturin
pytest
python-dotenv

# --- Visualization ---
matplotlib
fpdf2
contextily
contextily
