# --- Geospatial & Data Engine ---
numpy
rasterio
geopandas
shapely
earthengine-api
numexpr
rio-tiler==7.0.0

# --- Machine Learning ---
scikit-learn
xgboost

# --- Web & API Stack ---
fastapi
uvicorn
requests
httpx
pydantic
python-multipart

# --- Automation & Development ---
maturin
pytest
python-dotenv

# --- Visualization ---
matplotlib